<div class="row m-0 justify-content-center p-2">
    <div  *ngFor="let item of divisions" class="col-6 my-1">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{item?.title}}</mat-card-title>
              <mat-card-subtitle>{{item?.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button [routerLink]="'/auth/division/'+item.id" mat-button>VISUALIZAR</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>


