<div class="row m-0 justify-content-center p-2" *ngIf=" (optDivision$ | async) as options">
    <div  *ngFor="let item of options" class="col-6 my-1">
        <mat-card class="container-btn" [routerLink]="'/auth/divisions/itens/'+item?.id">
            <mat-card-header >
              <mat-card-title class="text-capitalize">{{item?.name}}</mat-card-title>
              <mat-card-subtitle>{{item?.description}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
</div>
